In [ ]:
s='abcabcbb'
t=set(s)
print(t)
r=len(t)
r

{'a', 'c', 'b'}

3

In [ ]:
e= [1,2,3]
e.reverse()
print(e)

[3, 2, 1]

In [ ]:
print("Printing current and previous number and their sum in a range(10)")
previous_num=0
for i in range(1,10):
  x_sum=previous_num + i
  print('current no ',i,'prevous no ',previous_num, 'sum  of',x_sum)
  previous_num=i

Printing current and previous number and their sum in a range(10)
current no  1 prevous no  0 sum  of 1
current no  2 prevous no  1 sum  of 3
current no  3 prevous no  2 sum  of 5
current no  4 prevous no  3 sum  of 7
current no  5 prevous no  4 sum  of 9
current no  6 prevous no  5 sum  of 11
current no  7 prevous no  6 sum  of 13
current no  8 prevous no  7 sum  of 15
current no  9 prevous no  8 sum  of 17

In [ ]:
a= 'pynative'
for i in a[1::2]:
  print(i)

y
a
i
e

In [ ]:
a=[1,2,3,4,5]
n=a[0::4]
n

[1, 5]

In [ ]:
k=[2,3,4,5,6,8]
p=int(str(k[0])+str(k[5]))
p

28

In [ ]:
def remove_chars(word, n):
    print('Original string:', word)
    x = word[n:]
    return x

print("Removing characters from a string")
print(remove_chars("pynative", 4))
print(remove_chars("pynative", 2))

Removing characters from a string
Original string: pynative
tive
Original string: pynative
native

In [ ]:
numbers_x = [10, 20, 30, 40, 10]
t=numbers_x[0]==numbers_x[-1]
t

True

In [ ]:
sum= lambda a,b,c:a+b+c
print(sum(4,6,8))

18

In [ ]:
h=3
def mul():
  p=4*h
print("local p",p)
mul()
print('global',h)

local p 3
global 3

In [ ]:
str1='COMPUTER'
index=0
for  i in str1:
  print(str1[:index+1])
  index +=1

C
CO
COM
COMP
COMPU
COMPUT
COMPUTE
COMPUTER

In [ ]:
str2=input("Enter the word: ")
str3=' '
index=-1
for i in str2:
  str3 += str2[index]
  index -= 1
print("the given string ={} \nthe reversed string={}".format(str2,str3))
if (str2==str3):
  print("Hence, the given string is palindrome")
else:
  print("not polindrome")

Enter the word: malayalam
the given string =malayalam
the reversed string= malayalam
not polindrome

In [ ]:
patt='*'
i=1
while i<=5:
  print(patt*i)
  i+=1

*
**
***
****
*****

In [ ]:
a=input("enter a string: ")
v='AaEeIiOoUu'
w,c=0,0
for i in a:
  if i in v:
    w+=1
  else:
    c+=1
print("the given string contains {} vowels and {} consonants".format(w,c))

enter a string: premlattha priya
the given string contains 5 vowels and 11 consonants

In [ ]:
#TO create an abecedarian series(' Abecedarian refers list of elements appear in alphabetical order')
x= "ABCDEFGH"
z="ate"
for i in x:
  print((i+z), end='\t')

Aate	Bate	Cate	Date	Eate	Fate	Gate	Hate

In [ ]:
def remove_vowels(s):
  temp_str=''
  for i in s:
    if i in 'AaEeIiOoUu':
      pass
    else:
      temp_str+=i
  print("Without vowels: ",temp_str)
g=input("Enter a string: ")
remove_vowels(g)

Enter a string: Mathematics
Without vowels:  Mthmtcs

In [ ]:
#reversed
b='Tamlnadu'
print(b[::-1])

udanlmaT

In [ ]:
str4='priya is good developer and good team player'
print(str4.count('good'))

2

In [ ]:
#pip install numpy
from sympy import isprime

# Example usage of the isprime() function

# Define the number to be checked
number = 29

# Use the isprime() function from sympy to check if the number is prime
# The function returns True if the number is prime, and False otherwise
if isprime(number):
    print(f"{number} is a prime number")
else:
    print(f"{number} is not a prime number")

29 is a prime number

In [ ]:
def is_prime(num):
  if num<=1:
    return False
  i=2
  while i*i<=num:
    if num %i==0:
        print("not prime number...")
    i+=1
  return True
number=23
if is_prime(number):
  print(f"{number} is prime number")
else:
  print(f"{number} is not prime number")

23 is prime number

In [ ]:
def is_prime_using_while(num):
    # Prime numbers are greater than 1
    if num <= 1:
        return False

    # Start checking from 2, since 1 is not a valid divisor for prime checking
    i = 2

    # Loop until i is less than or equal to the square root of num
    # This is because a larger factor must be a multiple of a smaller factor
    while i * i <= num:
        # If num is divisible by i, it is not a prime number
        if num % i == 0:
            return False
        i += 1  # Increment i by 1 for the next iteration

    # If no divisors are found, num is a prime number
    return True

# Example usage
number = 23
if is_prime_using_while(number):
    print(f"{number} is a prime number")
else:
    print(f"{number} is not a prime number")

23 is a prime number

In [ ]:
A = [3,6,7,5,7,9]
B = str(A[0])+str(A[5])
print(B)

39

In [ ]:
def is_palindrome(string):
  reversed_string = string[::-1]
  return string == reversed_string
string = "malayalam"
if is_palindrome(string):
  print(f'{string} is a palindrome')
else:
  print(f'{string} is not a palindrome')

malayalam is a palindrome

In [ ]:
def factorial(n):
  if n==0:
    return 1
  else:
    return n*factorial(n-1)
num=4
result=factorial(num)
print(f'the factorial of {num} is {result}')

the factorial of 4 is 24

In [ ]:
d=[2,4,5,67,8]
maxim= max(d)
maxim

67

In [ ]:
def find_common_elements(list1,list2):
  common_elements=[]
  for item in list1:
    if item in list2:
      common_elements.append(item)
  return common_elements
list1=[1,2,3,4,5]
list2=[4,5,6,7,8]
common=find_common_elements(list1,list2)
print(common)

[4, 5]

In [ ]:
list1=[1,2,3,4,5]
list2=[4,5,6,7,8]
s=list(set(list1).intersection(list2))
s

[4, 5]

In [ ]:
def remove_duplicates(numbers):

  unique_numbers=[]
  for num in numbers:
    if num not in unique_numbers:
      unique_numbers.append(num)
  return unique_numbers
numbers=[1,2,3,1,2,35,7,96,43,2,7]
unique_numbers=remove_duplicates(numbers)
print(unique_numbers)

[1, 2, 3, 35, 7, 96, 43]

In [ ]:
#pattern pgm
#1 ncreasing triangle pattern
n=int(input('enter number: '))
for i in range(n):
  for j in range(i+1):
    print('*',end='')
  print()

enter number: 5
*
**
***
****
*****

In [ ]:
#decreasing trinagle
n=4
for i in range(n):
  #print('*',end='')
  for j in range(i,n):
    print('*',end='')

   # print("*",end='')
  print()

****
***
**
*

In [ ]:
n=5
for i in range(n):
  for j in range(n-i-1):
    print(' ',end='')
  for j in range(i+1):
    print("*",end='')
  print()

    *
   **
  ***
 ****
*****

In [ ]:
num = int(input("Enter Number:"))

for i in range(0, num):
    for j in range(0, i+1):
        print("*", end=" ")
    print()

Enter Number:5
*
* *
* * *
* * * *
* * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print(' ',end='')
  for j in range(i,n):
    print('*',end='')
  print()

 *****
  ****
   ***
    **
     *

In [ ]:
yy=12345
ff=int(str(yy)[::-1])
ff

54321

In [ ]:
a = int(input("please give first number a: "))
b = int(input("please give second number b: "))
a=a-b
b=a+b
a=b-a
print("After swapping")
print("value of a is : ", a);
print("value of b is : ", b);

please give first number a: 3
please give second number b: 5
After swapping
value of a is :  5
value of b is :  3

In [ ]:
s='python code'
print(s.upper())

PYTHON CODE

In [2]:
def is_armstrong_number(number):
	return sum(int(digit)**len(str(number)) for digit in str(number)) == number


# Example usage:
num = 153
if is_armstrong_number(num):
	print(f"{num} is an Armstrong number")
else:
	print(f"{num} is not an Armstrong number")

153 is an Armstrong number

In [ ]:
def is_armstrong(numm):
  return sum(int(digit)**len(str(numm)) for digit in str(num))==numm
num=int(input("enter no: "))
if is_armstrong(num):
  print(f'{num} is an armstrong number')
else:
  print(f'{num} not armstrong')

enter no: 153
153 is an armstrong number

In [1]:
def factorial(n):
  if n==0:
    return 1
  else:
    return n*factorial(n-1)
num=4
result=factorial(num)
print(f'the factorial of {num} is {result}')

the factorial of 4 is 24