In [ ]:
#while
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

# Note that number 3 is missing in the result

1
2
4
5
6

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [ ]:
a = [1, 1, 2, 3, 5, 8, 13,21, 34, 55, 89]

# basic problem:
for x in a:
    if x< 5: print(x)

# combine challenges 1 and 2:
print( [ x for x in a if x<5 ] )

1
1
2
3
[1, 1, 2, 3]

In [ ]:
#website of practcepython
checking_number = int(input('Enter your number: '))

x = range(8,checking_number+1)

for number in x:
  for number_y in x:
    if number % number_y == 0:
      if number == checking_number:
        print('Divisors of your number %s is %s' % (number, number_y))
        continue

Enter your number: 12
Divisors of your number 12 is 12

In [ ]:
class Mrvettupuli:
  drink= 'pulipaal'

  def attack(self):
    print('male tiger')
class Mrsvettupuli(Mrvettupuli):

  def anotherattack(self):
    print('Femlae tiger')

mr = Mrvettupuli()
mrs = Mrsvettupuli()
print(mr.drink)
mr.attack()
mrs.anotherattack()

pulipaal
male tiger
Femlae tiger

In [ ]:
print("WELCOME TO THE BANK")
print("INSERT YOUR CARD")
password=2023
choice= 0
balance=0
pin=int(input("Enter your pin number to proceed further: "))

if pin==password:
  while choice!=4:
    print("MENU*****")
    print("1=-Balance Enquiry")
    print("2--Deposit")
    print("3==Withdrawal")
    print("4=-cancel")
    choice=int(input("Enter your option:"))
    if choice==1:
      print("Balance:", balance)
    elif choice==2:
      dep=int(input("How much you wants to deposite:"))
      balance+=dep
      print("Available Balance:",balance)
      print("Deposited Amount:", dep)
    elif choice==3:
      wit=int(input("How much you wants to withdraw:"))
      balance-=wit
      print("Withdrawn Amount:", wit)
      print("Available Balance:", balance)
    elif (choice ==4):
      print("Thanks for using this ATM :")

    else:
      print("Invalid Entry!!")
else:
  print("INCORRECT PIN!! TRY AGAIN")

WELCOME TO THE BANK
INSERT YOUR CARD
Enter your pin number to proceed further: 2023
MENU*****
1=-Balance Enquiry
2--Deposit
3==Withdrawal
4=-cancel
Enter your option:1
Balance: 0
MENU*****
1=-Balance Enquiry
2--Deposit
3==Withdrawal
4=-cancel
Enter your option:2
How much you wants to deposite:200
Available Balance: 200
Deposited Amount: 200
MENU*****
1=-Balance Enquiry
2--Deposit
3==Withdrawal
4=-cancel
Enter your option:3
How much you wants to withdraw:2040
Withdrawn Amount: 2040
Available Balance: -1840
MENU*****
1=-Balance Enquiry
2--Deposit
3==Withdrawal
4=-cancel
Enter your option:4
Thanks for using this ATM :

# New Section

In [ ]:
x='awesome'
def myfunc():
  x='fantastic'
  print('python is',x)
myfunc()
print('python is',x)

python is fantastic
python is awesome

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)


x=frozenset({'apple','banana','mango'})
print(x)


txt = "The best things in life are free!"
print("free" in txt)

txt = "The best things in life are free!"
print("expensive" not in txt)

Python is fantastic
frozenset({'apple', 'mango', 'banana'})
True
True

In [ ]:
b = "Hello World!"
print(b[2:5])

print(b[:5])
print(b[5:])

c = "Hello World!"
print(c[-5:-2])

a = "Hello, World!"
print(a.replace("H", "J"))

print(a.replace("H", "J" ).replace('l','z'))

s='hello'
r='priya'
print(s+ " "+r)

name= 'Priyaaa'
txt='my name is {}'
print(txt.format(name))

'''age = 36
txt = "My name is John, I am " + age
print(txt)'''

quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

txt1 = "We are the so-called \"Vikings\" from the north."
print(txt1)

llo
Hello
 World!
orl
Jello, World!
Jezzo, Worzd!
hello priya
my name is Priyaaa
I want to pay 49.95 dollars for 3 pieces of item 567.
We are the so-called "Vikings" from the north.

In [ ]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

thislist1 = ["apple", "banana", "cherry"]
print(len(thislist1))

thislist2 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist2[2:5]) #2 include and 5 not include
print(thislist2[-4:-1])
print(thislist2[-1:-4])#.................
thislist1[1:2]=['mango','pine']#.........The length of the list will change when the number of items inserted does not match the number of items replaced.
print(thislist1)


thislist4= ["apple", "banana", "cherry"]
thislist4.insert(2, "watermelon")
print(thislist4)

#The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

thislist0 = ["apple", "banana", "cherry"]
thistuple0 = ("kiwi", "orange")
thislist0.extend(thistuple0)
print(thislist0)
#The pop() method removes the specified index.
#If you do not specify the index, the pop() method removes the last item.
print(thislist0.pop(2))
print(thislist0)
#The del keyword can also delete the list completely.
#The clear() method empties the list.
del thislist0[0]
print(thislist0)

thislist0.clear()
print(thislist0)
#.............................................

#loop list
thislistt = ["apple", "banana", "cherry"]
for x in thislistt:
  print(x)
#[print(x) for x in thislistt]
#.......................................................
#LIST COMPREHENSION
#List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.
fruites=['apple','banana','cherry','mango','goya','ice']
[d for d in fruites if 'a' in d]
num=[1,2,'rrr',4,'jjj',6.1,7.4,9,2.1,'kkk',5,6]
[g for g in num if not isinstance(g,float)]

['apple', 'banana', 'cherry', 'orange']
3
['cherry', 'orange', 'kiwi']
['orange', 'kiwi', 'melon']
[]
['apple', 'mango', 'pine', 'cherry']
['apple', 'banana', 'watermelon', 'cherry']
['apple', 'banana', 'cherry', 'kiwi', 'orange']
cherry
['apple', 'banana', 'kiwi', 'orange']
['banana', 'kiwi', 'orange']
[]
apple
banana
cherry

[1, 2, 'rrr', 4, 'jjj', 9, 'kkk', 5, 6]

In [ ]:
#tuple
tuble=tuple(('apple','banana','mango'))
print(tuble)
tuble1=('apple','banana','cherry','mango','lemon')
print(type(tuble1))
y=list(tuble1)
y.append('melon')
print(y)
x=tuple(y)
print(x)
z=('orange',)
x +=z
print(x)

(green, yellow, *red)= tuble1
print(green)
print(yellow)
print(red)
#..................

for i in range(len(tuble1)):
  print(tuble1[i])


print ('#..................')

i=0
while i<len(tuble1):
  print(tuble1[i])
  i = i+1

('apple', 'banana', 'mango')
<class 'tuple'>
['apple', 'banana', 'cherry', 'mango', 'lemon', 'melon']
('apple', 'banana', 'cherry', 'mango', 'lemon', 'melon')
('apple', 'banana', 'cherry', 'mango', 'lemon', 'melon', 'orange')
apple
banana
['cherry', 'mango', 'lemon']
apple
banana
cherry
mango
lemon
#..................
apple
banana
cherry
mango
lemon

In [ ]:
#set
#set unordered,unindexted,unchangeble,duplicates not allowed
#once create a set can't change the item but add the item
#Two set are combine
# remove an item in a set, use the remove(), or the discard() method.
# pop() method to remove an item, but this method will remove a random item
#The clear() method empties the set:
#The del keyword will delete the set completely
#joinsets...intersection, union, symmetric_df,

thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

sett1=set(('apple','mango','cherry','banana','melon'))
print(sett1)
sett1.add('orange')

thisset.update(sett1)
print(thisset)

lst=['kiwi','grapes']
thisset.update(lst)
print(thisset)

for x in thisset:
  print(x)

{True, 2, 'apple', 'banana', 'cherry'}
{'mango', 'apple', 'melon', 'banana', 'cherry'}
{True, 2, 'mango', 'apple', 'melon', 'orange', 'banana', 'cherry'}
{True, 2, 'mango', 'grapes', 'kiwi', 'apple', 'melon', 'orange', 'banana', 'cherry'}
True
2
mango
grapes
kiwi
apple
melon
orange
banana
cherry

In [ ]:
#dictionary
#Dictionary items are ordered, changeable, and does not allow duplicates.
#Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

#Dictionaries cannot have two items with the same key: and overrite it
#The update() method will update the dictionary with the items from a given argument.
#remove items methods are popitem(last item),clear,del,pop(specified keyname)
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

print(len(thisdict))

dict1={'name': 'PRIYA', 'location': 'salem', 'age':23,'preferd':['chennai','bengalore','salem']}
print(dict1)
print(dict1.keys())
dict1['education']='M.Sc'
print(dict1)

print(dict1.values())
print(dict1.items())


for x in dict1:
  print(x)
  print('#..........')
  print(dict1[x])

for x,y in dict1.items():
  print(x,y)

#...............Nested DICt...............
dict2= {'phone':{
    'name':'sumsung',
    'price': 12000

},'watch':{
    'name':'Fasttrack',
    'price':1000
}
        }
print(dict2)

print(dict2["watch"]["name"])

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
3
{'name': 'PRIYA', 'location': 'salem', 'age': 23, 'preferd': ['chennai', 'bengalore', 'salem']}
dict_keys(['name', 'location', 'age', 'preferd'])
{'name': 'PRIYA', 'location': 'salem', 'age': 23, 'preferd': ['chennai', 'bengalore', 'salem'], 'education': 'M.Sc'}
dict_values(['PRIYA', 'salem', 23, ['chennai', 'bengalore', 'salem'], 'M.Sc'])
dict_items([('name', 'PRIYA'), ('location', 'salem'), ('age', 23), ('preferd', ['chennai', 'bengalore', 'salem']), ('education', 'M.Sc')])
name
#..........
PRIYA
location
#..........
salem
age
#..........
23
preferd
#..........
['chennai', 'bengalore', 'salem']
education
#..........
M.Sc
name PRIYA
location salem
age 23
preferd ['chennai', 'bengalore', 'salem']
education M.Sc
{'phone': {'name': 'sumsung', 'price': 12000}, 'watch': {'name': 'Fasttrack', 'price': 1000}}
Fasttrack

In [ ]:
#if else
#and,or,not
a = 200
b = 330
c=150
print("A is grater") if a > b else print("B is grater")
if a<300 and b>a:
  print('both are true')

B is grater
both are true

In [ ]:
#while

i=0
while i<6:
  print(i)
  i+=1
print("""""""""""""""""""""""""""""")
a=0
while a<7:
  print(a)
  if a==4:
    break
  a+=1

print("""""""""""""""""""""""""""""")
c=0
while c<8:
  c+=1
  if c==3:
    continue
  print(c)
print("""""""""""""""""""""""""")
for u in range(0,60,3):
  print(u)
print("""""""""""""""""""""""""")
#The else block will NOT be executed if the loop is stopped by a break statement.
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5

0
1
2
3
4

1
2
4
5
6
7
8

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57

0
1
2

In [ ]:
def functionname(fname):
  print(fname +' correct')
functionname('email')
functionname('check')

#arbitrary argumet
def checkmult(*color):
  print("to check is correct", color[2])
checkmult('blue','black','green','red')

#keyword argument
def argufunc(clr1,clr2,clr3):
  print("my fvrt clr ",clr3,clr2)
argufunc(clr1='green',clr2='black', clr3='blue')

#Arbitrary Keyword Arguments, **kwargs
#f the number of keyword arguments is unknown, add a double ** before the parameter name

def names(**words):
  print('the words are',words['fword'])
names(fword='priya', lword='prema')

def my_func(food):
  for x in food:
    print(x)
fruites=['apple','banana','cherry','mango']
my_func(fruites)


def tri_recursion(k):#.........................
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(10)
print("""""""""""""""""""""""""""""")

#lambda function

x= lambda a,b,c:a+b+c
print("lambda",x(4,6,8))

print("""""""""""""""""""""""""""""")


def myfuncc(n):
  return lambda a : a * n

mytripler = myfuncc(3)

print(mytripler(11))

email correct
check correct
to check is correct green
my fvrt clr  blue black
the words are priya
apple
banana
cherry
mango


Recursion Example Results
1
3
6
10
15
21
28
36
45
55

lambda 18

33

In [ ]:
#Lists, tuples, dictionaries, and sets are all iterable objects. They are iterable containers which you can get an iterator from.

#All these objects have a iter() method which is used to get an iterator:

mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [ ]:
#Converting an Integer into Decimals
import decimal
a=10
print(decimal.Decimal(a))
print(type(decimal.Decimal(a)))

#reversing string
stri="Premalatha"
print(stri[::-1])

#counting vowels

vowel=['a','e','i','o','u']
chart="programming"
count=0
for s in chart:
  if s in vowel:
    count+=1
print(count)

#counting consonants
vowel=['a','e','i','o','u']
chart="programming"
count=0
for s in chart:
  if s not in vowel:
    count+=1
print(count)

#Counting the Number of Occurances of a Character in a String
a='python counting'
b= 'p'
count=0
for w in a:
  if w==b:
    count+=1
print(count)

#finding max of list
print(" ")
lst=[1,2,3,4,5]
print(max(lst))

lenlst= int(len(lst)/2)
print("length of list" ,lst[lenlst])

#join the list into string

lst1=['p','y','t','h','o','n']
strii=''.join(lst1)
print(strii)

ls1=[2,4,5]
ls2=[1,5,7]
res_lst=[]
for i in range(0,len(ls1)):
  res_lst.append(ls1[i]+ls2[i])
  print(res_lst)

#comparing word for anagrams
str1 = "Listen"
str2 = "Silent"

str1 = list(str1.upper())
str2 = list(str2.upper())
str1.sort(), str2.sort()

if(str1 == str2):
    print("True")
else:
    print("False")

#palindrome using slicing

a1='kayaK'.lower()
a2='kayak'.lower()
if a1==a2[::-1]:
  print('Palindrome')
else:
  print('not palindrome')

#counting white spaces
q='pro  gram min g'
print(q.count(' '))


##Counting Digits, Letters, and Spaces in a String


# Importing Regular Expressions Library
import re

name = 'Python is 1'

digitCount = re.sub("[^0-9]", "", name)
letterCount = re.sub("[^a-zA-Z]", "", name)
spaceCount = re.findall("[ \n]", name)

print(len(digitCount))
print(len(letterCount))
print(len(spaceCount))


#counting special character in string

#A Regular Expression (or Regex) is a pattern (or filter) that describes a set of strings that matches the pattern

import re
spChar = "!@#ghjuytr$%^&*()"

count = re.sub('[\w]+', '', spChar)
print(len(count))


#removing white speces
striii='C O D E'
speces=re.compile(r'\s+')
l

10
<class 'decimal.Decimal'>
ahtalamerP
3
8
1

5
length of list 3
python
[3]
[3, 9]
[3, 9, 12]
True
Palindrome
4
1
8
2
10

In [ ]:
from datetime import datetime

# 2020-02-25
date_1 = datetime(2020, 2, 25).date()
# 2020-09-17
date_2 = datetime(2020, 9, 17).date()

delta = None
if date_1 > date_2:
    print("date_1 is greater")
    delta = date_1 - date_2
else:
    print("date_2 is greater")
    delta = date_2 - date_1
print("Difference is", delta.days, "days")

date_2 is greater
Difference is 205 days